@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.App {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.5px;
  font-size: large;
  background: rgb(45, 45, 48);
  
}


body{
  background: rgb(45, 45, 48);
  color: rgb(255, 174, 0);

}


.title {
  color: rgb(255, 187, 0);
  padding-bottom: 12px;
  padding-top: 20px;
  background-color: black;
  margin-bottom: 10px;
}


.output {
  color: rgb(64, 218, 64);
  text-align: center;
}

.output-reference {
  color: rgb(255, 187, 0);
  margin: 5px;
  text-align: center;
 
}

.output2 {
  color: rgb(64, 218, 64);
  margin: 1px;
  margin-bottom: 10px;

  text-align: center;
}


button {
  cursor: pointer;
  border-radius: 25px
}

.reset {
  border-radius: 6px;
  margin-bottom: 15px;
}


.modal-header {
  font-family: 'Bebas Neue', sans-serif;
 background-color: rgb(45, 45, 48);
 color: whitesmoke;
 letter-spacing: 1.5px;
 font-size: large;
 border: 1px solid whitesmoke
}

.modal-body {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: large;
}

.modal-footer {
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(45, 45, 48);
  color: whitesmoke;
  letter-spacing: 1.5px;
  font-size: large;
  border: 1px solid whitesmoke
}

.cancel-btn {
  letter-spacing: 1.5px;
  font-size: large;
}

.reset-reset-btn {
  letter-spacing: 1.5px;
  font-size: large;
  display: flex;
  justify-content: center;
}

.mb-3 {
  color:rgb(255, 187, 0);
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}


.output-form {
  color: rgb(255, 187, 0);
}

.text-muted{
  font-size: xx-small;
  letter-spacing: 0.2px;
}

.bottom {
  text-align: right;
}

.outline-primary {
  margin-left: 20px;
}

.mb-2 {
  align-items: center;
  
}

.triangle{
  margin-left: 20px;
  text-align: left;
  color: rgb(255, 187, 0);
}


.add-btn {
  text-align: center;
  margin-bottom: -5px;
  margin-top: -15px;
}

.reset-btn {
  text-align: center;
}


.list-item {
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
}

.tonnes-output {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tonnes-output-num {
  padding-top: 10px;
 padding-bottom: 10px;
}

.total-tonnage-output {
  margin-left: 20px;
 
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.waste-allowance {
  margin-bottom: 10px;
  margin-top: 10px;
}