@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.App {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: large;
  padding: -1px;
  background: rgb(45, 45, 48);
}


body{
  margin-top: 10px;
  background: rgb(45, 45, 48);
  color: rgb(247, 127, 57);
}


.title, h1 {
  color: rgb(255, 174, 0);
  padding-bottom: 5px;
  padding-top: 20px;
  background-color: black;
  margin-bottom: 10px;
}


h4 {
  text-align: center;
}

li {
  color: whitesmoke;
  padding: 1px;
  /* margin-top: 2px; */
  text-align: right;
}

.triangle {
  color: rgb(13, 215, 241);
}

.output {
  color: rgb(64, 218, 64);
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 2px;
}

.output-reference {
  color: rgb(13, 215, 241);
  margin: 5px;
}

.input {
  color: rgb(247, 127, 57);
  margin: 5px;
}

button {
  cursor: pointer;
  border-radius: 25px
}

.reset {
  border-radius: 6px;

}

.primary {
  background-color: blue;
  border-radius: 6px;
}

.delete {
  border-radius: 5px;
  margin-left: 20px;
  background-color: rgb(255, 174, 0);
}

.input-class {
  margin-top: -10px;
  margin-bottom: 10px;
}

.delete {
  padding-left: 100px;
}